<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923094618065-ai1eh5afu9v5h7agkjhghrbp4b996r9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923094618065-ai1eh5afu9v5h7agkjhghrbp4b996r9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCRkA3wqit6HBPMlRhmtX8K5NQU27VD-l8</string>
	<key>GCM_SENDER_ID</key>
	<string>923094618065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.coolhunter</string>
	<key>PROJECT_ID</key>
	<string>coolhunter-4ecce</string>
	<key>STORAGE_BUCKET</key>
	<string>coolhunter-4ecce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923094618065:ios:546232672aaa590a305af0</string>
	<key>DATABASE_URL</key>
	<string>https://coolhunter-4ecce-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>